/*====================================
 Design variables
======================================*/

:root {
  /*Main Colors*/

  --og-red: #b99491; /*Color 1*/
  --og-orange: #cdaa98; /*Color 2*/
  --og-yellow: #d4b99e; /*Color 3*/
  --og-green: #a8b6b3; /*Color 4*/
  --og-blue: #a2b3c2; /*Color 5, same as --blue-title*/
  --og-purple: #b1b2c3; /*Color 6*/

  --light-og-red: #ceb0ac; /*Color 7*/
  --light-og-purple: #9a9edf; /*Color 8, same as --purple-text*/
  --very-light-og-red: #f8e9e7; /*Color 9*/
  --dark-og-red: #9e6f6b; /*Color 10, same as --red-text*/

  --trans-og-red: #f79f9721; /*Color 11*/
  --trans-og-blue: #8fbce029; /*Color 12*/
  --trans-og-red-pinker: #ffdedb59; /*Color 13*/
  --og-red-pinker: #f3e1e0;
  
  --bright-og-orange: #de822b; /*Color 14*/
  --bright-og-red: #b9675f; /*Color 15, used to be same as --red-label*/

  --reduced-og-red: #bf9e9b; /*Color 16*/
  --trans-reduced-og-red: #9e6f6b8c; /*Color 17*/
  --light-trans-og-blue: #ebf4ff75; /*Color 18*/

  --dark-og-green: #899b97;
  --trans-og-green: #f2fcf9e9;
  
  --lighter-og-purple: #c3c5ef;

  --og-black: #666;
  --og-pink: #ceb0ac;

  --reduced-og-purple: #babddbaf;
  /* --bright-green: #a5d4a7; */
  --subdued-green: #9dc09d88;
  --darker-green-text: #9eb39e;
  --even-darker-green-text: #586558;
  --trans-og-green-darker: #bfe6ba46;
  --trans-og-purple: #b1b2c3cb;
  --very-trans-og-purple: #b1b2c328;
  --trans-og-yellow: #ffd0a154;

  /*Other Colors*/

  --navy: #4c6c9e;
  --mint-trans: #72e9a033;
  --blue-trans: #3498db33;
  
  /* --red-label: #b9675f; Color 15 */
  /* fa1191 */
  --red-label: #e659a6;
  --green-label: #73deaa;
  --purple-label: #9480f4;
  
  --blue-title: #a2b3c2; /*Color 5*/
  --mint-title: #b1ddd3;
  
  --purple-text: #9a9edf; /*Color 8*/
  --darker-purple-text: rgb(115, 115, 170);
  --red-text: #9e6f6b; /*Color 10*/
  --blue-text: #639cca;
  --blue-bright: #63cac3;
  --yellow: #e0bb6c;

  --blue-vivid-trans: #66b8ee33;
  --blue-vivid: #85bee3;
  
  /*Shadows*/

  --bg-shadow: 0 4px 6px rgba(0,0,0,0.05);
  --mini-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  --glow-shadow: 0 0px 50px rgba(255,255,255,1);
  --glow-shadow-darker: 0 0px 50px rgba(230,230,230,1); /*pair with border of 1px #ddd*/
  --glow-inset-shadow: 0 0px 50px rgba(255,255,255,1), 0 0px 8px inset rgba(200,200,200,1);
  
  /*Gradients*/

  --gradient-scintilla: linear-gradient(190deg,rgb(255,255,255) 39%,rgb(209,236,255) 62%,rgb(246,230,255) 72%,rgb(168,196,255) 83%,rgb(117,188,255) 100%);
  --gradient-container: linear-gradient(150deg, rgba(143, 188, 224, 0.07) 2%, rgba(186, 239, 159, 0.16) 16%, rgba(248, 238, 160, 0.15) 40%, rgba(233, 177, 247, 0.19) 77%, rgba(233, 177, 247, 0.06) 100%);
  --gradient-panel: linear-gradient(135deg, rgba(229, 143, 6, 0) 0%, rgba(209, 250, 213, 0.12) 11%, rgba(252, 184, 120, 0.17) 42%, rgba(214, 236, 250, 0.17) 74%, rgba(203, 163, 240, 0.14) 88%, rgba(255, 255, 255, 0) 100%);
  --gradient-quote: linear-gradient(135deg, rgba(242, 218, 192, 0.55) 0%, rgba(242, 207, 207, 0.47) 24%, rgba(227, 216, 248, 0.53) 40%, rgba(233, 249, 180, 0.49) 51%, rgba(249, 238, 210, 0.52) 64%, rgba(240, 215, 188, 0.5) 78%, rgba(214, 244, 179, 0.52) 100%);
  --gradient-quote-tilt: linear-gradient(144deg, rgba(242, 218, 192, 0.55) 0%, rgba(242, 207, 207, 0.47) 24%, rgba(227, 216, 248, 0.53) 40%, rgba(233, 249, 180, 0.49) 51%, rgba(249, 238, 210, 0.52) 64%, rgba(240, 215, 188, 0.5) 78%, rgba(214, 244, 179, 0.52) 100%);
  --gradient-shallow-rainbow: linear-gradient(135deg,rgba(229,143,6,0) 0%,rgba(209,250,213,0.12) 11%,rgba(252,184,120,0.17) 42%,rgba(214,236,250,0.17) 74%,rgba(203,163,240,0.14) 88%,rgba(255,255,255,0) 100%);
  --gradient-scintilla-underlay: linear-gradient(190deg, rgb(255,255,255,0) 0%, rgb(255,255,255,0) 10%, rgb(255,255,255,0) 20%, rgb(209,236,255,0.9) 30%,rgb(246,230,255,1) 37%,rgb(168,196,255,0.7) 49%,rgb(117,188,255,0.5) 55%, rgb(255,255,255,0) 70%, rgb(255,255,255,0) 80%, rgb(255,255,255,0) 90%, rgb(255,255,255,0) 100%);
  --gradient-scintilla-weak: linear-gradient(190deg,#ffffff 39%,#d1ecffa2 62%,#f6e6ff81 72%,#a8c4ff17 87%,#75bcff 100%);

  /*WORDPRESS PRESETS*/

  --wp-spacing-20: min(calc(10 * (2.5 * 1) * 1px), calc(2.5 * 1 * 2vw));
  --wp-spacing-30: min(calc(10 * (2.5 * 2) * 1px), calc(2.5 * 2 * 1vw));
  --wp-spacing-40: min(calc(10 * (2.5 * 3) * 1px), calc(2.5 * 3 * 1vw));
  --wp-spacing-50: min(calc(10 * (2.5 * 4) * 1px), calc(2.5 * 4 * 1vw));

  --wp-font-size-small: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.179), 16px);
  --wp-font-size-medium: clamp(20px, 1.25rem + ((1vw - 3.2px) * 0.357), 24px);
  --wp-font-size-large: clamp(23.043px, 1.44rem + ((1vw - 3.2px) * 1.335), 38px);
  --wp-font-size-x-large: clamp(33.419px, 2.089rem + ((1vw - 3.2px) * 2.373), 60px);
  --wp-font-size-xx-large: clamp(40px, 2.5rem + ((1vw - 3.2px) * 3.571), 80px);
  --wp-font-size-xxx-large: clamp(40px, 2.5rem + ((1vw - 3.2px) * 10.714), 160px);

  --wp-font-size-other-medium: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.536), 20px);
}
@media screen and (max-width: 640px) {
  :root {
    --wp-font-size-small: 15.5px;
  }
 }

/*====================================
 Global defaults
======================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*====================================
  Design classes
======================================*/

/*-----------------------------
HOME
-------------------------------*/

.home {
  display: flex;
  flex-flow: row wrap;
  gap: var(--wp-spacing-20);

  padding: var(--wp-spacing-20);

  font-family: 'Albert Sans', system-ui, -apple-system, sans-serif;
  color: var(--red-text);
  font-size: var(--wp-font-size-other-medium);
  line-height: 1.65;
  letter-spacing: 0.2px;
}
.home-container-wrapper {
  margin: 0px var(--wp-spacing-20);
  max-width: 760px;
  
  display: flex;
  flex-flow: column wrap;

  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  gap: 20px;
}
.home-container-wrapper .container {
  flex: 0 1 auto;
  margin: 0;

  /* padding: max(var(--wp-spacing-20), 30px) max(var(--wp-spacing-30), 45px); */
  padding: 30px 50px;
  font-family: 'Albert Sans', system-ui, -apple-system, sans-serif;
  color: var(--red-text);
  font-size: var(--wp-font-size-other-medium);
  line-height: 1.65;
  letter-spacing: 0.2px;
}
.home-container-wrapper .container p + *, .blog .container p + *, .speck .container p + * {
  margin-block-start: calc(var(--wp-spacing-20) * .5);
}

@media screen and (max-width: 640px) {
  .home-container-wrapper {
    margin-top: var(--wp-spacing-40);
  }
  .home {
    margin-bottom: 60vh;
    margin-top: 10px;
  }
  .home-container-wrapper .container {
    font-size: 1.1em;
  }
}

.Scintilla {
  font-style: italic;
  font-family: 'Instrument Serif', serif;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--og-red);
  letter-spacing: 0.5px;
}
.Specks, .Blog {
  font-style: italic;
  font-family: 'Instrument Serif', serif;
  font-weight: 600;
  letter-spacing: 1px;
}
.home svg *, .world * {
  transition: stroke-width 0.4s ease, opacity 0.4s ease;
}
.home svg circle:hover, .world circle:hover {
  stroke-width: 10;
  stroke-opacity: .8;
}
.home svg polygon:hover, .world polygon:not(.transparent):hover {
  stroke-width: 5;
  stroke: var(--og-yellow);
}
.world .pt {
  fill: var(--dark-og-red);
  stroke: transparent;
  r: 4;
}
.world {
  margin: 0 auto; 
  border: transparent solid; 
  background: transparent; 
  display: block;
  overflow: visible; 
  stroke: var(--dark-og-red);
  stroke-width: 2;
  fill: transparent;
}
.transparent {
  color: transparent;
  fill: transparent;
  stroke: transparent;
}

#world-gap-neg1:hover ~ #world-line-0 {
  stroke: var(--og-yellow);
  stroke-width: 5;
}
#world-gap-0:hover ~ #world-line-1 {
  stroke: var(--og-yellow);
  stroke-width: 5;
}
#world-gap-1:hover ~ #world-line-2 {
  stroke: var(--og-yellow);
  stroke-width: 5;
}
#world-gap-2:hover ~ #world-line-3 {
  stroke: var(--og-yellow);
  stroke-width: 5;
}

/*-----------------------------
BLOG
-------------------------------*/

.blog, .speck {
  display: flex;
  flex-flow: column wrap;
  margin: 0px auto;
  max-width: 760px;
  padding: 0px var(--wp-spacing-20);
}

.title-wrapper {
  position: relative;
  overflow: visible;
  height: var(--wp-font-size-xxx-large);
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .blog .title-wrapper, .speck .title-wrapper {
    margin-top: var(--wp-spacing-50);
    margin-bottom: 10px;
  }
}

.blog .container, .speck .container {
  margin: -20px 0px 0px 0px;
  /* padding: var(--wp-spacing-20) var(--wp-spacing-30); */
  padding: 30px 50px;
  font-family: 'Albert Sans', system-ui, -apple-system, sans-serif;
  color: var(--red-text);
  font-size: var(--wp-font-size-other-medium);
  line-height: 1.65;
  letter-spacing: 0.2px;
}

.page-title {
  color: var(--bright-og-orange);
  font-family: 'Syne', monospace;
  font-weight: 900;
  font-size: var(--wp-font-size-xxx-large);
  font-style: italic;

  /* text-align: center; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: -100;
}

.orange {
  color: var(--bright-og-orange);
  font-weight: 500;
}

.blog .posts, .speck .posts {
  padding: var(--wp-spacing-20) var(--wp-spacing-30);
  
  font-family: 'Space Mono', monospace;
  color: var(--og-green);
  font-size: var(--wp-font-size-medium);
  line-height: 1.65;
  letter-spacing: 0.2px;
}
.blog .posts .title-bit {
  font-family: 'Instrument Serif', serif;
  font-size: 1.3em;
  letter-spacing: 0.5px;
  font-style: italic;
}

.blog .posts a, .speck .posts a {
  text-decoration: none;
  color: inherit;

  text-shadow:
  0px 0px 1px var(--bright-og-orange),
  0px 0px 1px var(--bright-og-orange),
  0px 0px 1px var(--bright-og-orange);
  
  transition: letter-spacing 0.2s ease, font-weight 0.3s ease;
  overflow: visible;
  text-wrap: nowrap;
}
.blog .posts a:hover, .speck .posts a:hover {
  color: var(--bright-og-orange);
  font-weight: 700;
  letter-spacing: 0.8px;
}
.blog .posts a:active, .speck .posts a:active {
  letter-spacing: 3px;  
}

/*-----------------------------
POSTS
-------------------------------*/

.post header h1 {
  font-family: "Instrument Serif", serif;
  color: var(--blue-title);
  font-weight: 100;
  /* font-size: 3.15rem; */
  font-size: var(--wp-font-size-x-large);
  letter-spacing: 0.2px;

  /* padding: 0px 10.25vw; */
  padding: var(--wp-spacing-30) var(--wp-spacing-50);
}
@media screen and (max-width: 900px) {
  .post header h1 {
    font-size: var(--wp-font-size-xx-large);
  }
}

.content-wrapper {
  display: grid;
  place-items: center;
}
.content {
  font-family: 'Albert Sans', system-ui, -apple-system, sans-serif;
  color: var(--red-text);
  /* font-size: 16px; */
  font-size: var(--wp-font-size-small);
  line-height: 1.65;
  letter-spacing: 0.2px;

  /* margin: 0px 65px; */
  margin: 0 var(--wp-spacing-40);
  max-width: 760px;
  
  /* display: flex;
  flex-direction: column; */
}
.content h3 {
  font-family: "Ibarra Real Nova", serif;
  color: var(--blue-title);
  font-weight: 500;
  /* font-size: 24px; */
  font-size: var(--wp-font-size-medium);
  line-height: 1.2;
}
/* .content * + p {
  padding-top: var(--wp-spacing-20);
} */
/* .content .spacing-as-p + * {
  padding-top: var(--wp-spacing-20);  
}   */
.content * + .spacing-as-p, .content * + p {
  margin-block-start: var(--wp-spacing-20);  
}
.content .spacing-as-nothing + * {
  margin-block-start: 0;
}
.content * + .spacing-bigger {
  margin-block-start: var(--wp-spacing-30);
  margin-block-end: var(--wp-spacing-30);
}
.content * + h3 {
  margin-block-start: var(--wp-spacing-40);
}
@media screen and (max-width: 640px) {
  .content * + h3 {
    margin-block-start: 70px
  }
}
.content * + .spacing-as-container {
  margin-block-end: var(--wp-spacing-50);
  margin-block-start: var(--wp-spacing-50);
}

.subdued {
  color: var(--trans-reduced-og-red);
  display: contents;
}
.solution .subdued {
  color: var(--subdued-green);
}
.rainbowed {
  background-image: var(--gradient-shallow-rainbow);
  border-radius: 5000px;
  padding: 1.4em 0px;

  transition: transform 0.2s ease;
}
.rainbowed .katex-display > .katex .katex-html {
  font-size: 1.1em;
}
.rainbowed:hover {
  transform: rotate(-1deg);
}
.vocab, .vocab-plain {
  color: var(--bright-og-orange);
}
.vocab {
  font-weight: 900;
  font-style: italic;
  font-size: 1.2em;
}
.pullout {
  color: var(--bright-og-red);
  /* font-weight: bold; */
}

.content a {
  text-decoration: none;
  color: inherit;

  text-shadow:
  0px 0px 1px var(--bright-og-orange),
  0px 0px 1px var(--bright-og-orange),
  0px 0px 1px var(--bright-og-orange);
  
  transition: letter-spacing 0.2s ease, font-weight 0.3s ease;
}
.content a[href^="http"]:not(:has(img))::after {
  content: "↗";
}
/* .content a:link {

} */
/* .content a:visited {
  
}  */
.content a:hover {
  color: var(--bright-og-orange);
  font-weight: 700;
  letter-spacing: 0.8px;
}
.content a:active {
  color: white;
  letter-spacing: 3px;  
}

.quote {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--og-red);
  line-height: 1.5;
  letter-spacing: 0.2px;
  /* font-size: 20px; */
  font-size: var(--wp-font-size-medium);
  text-align: center;

  padding: 1.25em 2.375em;
  /* max-width: 77%; */
  /* margin: 1.5rem auto; */
  margin: 40px 40px;

  background-image: var(--gradient-quote-tilt);
  border-radius: 300px;

  transition: transform 0.25s ease-in-out;
}
@media screen and (max-width: 640px) {
  .quote {
    padding: 3em 3em;
  }
  .content h3 {
    margin-left: -10px;
  }
}
@media screen and (max-width: 500px) {
  .quote {
    padding: 2.5em 2.5em;
    margin: 0px;
  }
}
.quote:hover {
  transform: rotate(2deg);
}
.solution-summary, .hint-summary {
  padding: .5em 0;
  border-radius: 15px;
  mask-image: linear-gradient(to left, #0003 0%, #000F 100%);

  font-style: italic;
}
.solution-summary, .hint-summary, .dropdown-summary {
  transition: font-weight 0.4s ease, letter-spacing 0.4s ease, background-color 0.1s ease, padding-left 0.25s ease;
}
.solution[open] .solution-summary, .hint[open] .hint-summary{
  margin-bottom: 1em;
  padding-left: 3em;
}
.solution-summary:hover, .hint-summary:hover, .dropdown-summary:hover {  
  font-weight: 800;
  letter-spacing: 3px;
}
.solution-summary:hover, .hint-summary:hover {  
  padding-left: 3em;
}
.solution-content, .hint-content {
  padding: 0 .7em;
}

.solution {
  padding: 0 1.5em;
}
.solution-summary {
  color: var(--subdued-green);
}
.solution-content {
  color: var(--darker-green-text);
}
.solution[open] .solution-summary, .solution-summary:hover {
  background-color: var(--trans-og-green-darker);
  color: var(--darker-green-text);
}
.hint {
  color: var(--reduced-og-red);
  padding: 0 3em;
}
.hint[open] .hint-summary, .hint-summary:hover {
  background-color: var(--trans-og-red);
}
.hint + .solution {
  margin-block-start: 0;
}
.hint[open] + .solution {
  margin-block-start: var(--wp-spacing-20);
}

.problem {
  background-color: var(--trans-og-blue);
  padding: 1.25em 2.375em;
  color: #8790cb;
  /* color: #cb87ad;
  color: #c087a6; */
}
.problem .byTheWay-right,
.problem .subdued {
  color: #adb5ecc1;
}
.problem-number {
  position: absolute;
  translate: -80% -30%;

  font-size: var(--wp-font-size-x-large);
  font-family: "Syne", monospace;
  font-weight: 1000;
  color: #21669f29;
}

.dropdown {
  border: 2px solid var(--light-og-purple);
  border-radius: 70px;
  padding: 10px var(--wp-spacing-30);
  margin: 0px 5rem;
  
  transition: border-width .5s ease, border-color 1s ease, margin 0.5s ease;

  color: var(--light-og-purple);
}
.dropdown[open] {
  padding: 10px var(--wp-spacing-30) var(--wp-spacing-20) var(--wp-spacing-30);
  border: 10px solid var(--lighter-og-purple);
  margin-right: 3rem;
  margin-left: 3rem;
}
.dropdown-summary + .dropdown-content {
  margin-block-start: 1em;
}
@media screen and (max-width: 640px) {
  .dropdown {
    margin: 2rem;
  }
  .dropdown[open] {
    margin: 1rem;
  }
}

.dropdown-2-summary {
  position: relative;
}
.dropdown-2-summary::before {
  content: "➺";
  left: -1.5em;
  top: .15em;
  font-size: 1.2em;
  position: absolute;
  color: var(--darker-green-text);
  transition: font-size 0.25s ease, left 0.25s ease;
}
.dropdown-2 {
  transition: background-color 0.2s ease-out, padding 0.2s ease, border-radius 0.2s ease;
}
.dropdown-2-content {
  display: none;
  color: var(--even-darker-green-text);
}
.dropdown-2:hover .dropdown-2-content {
  display: block;
  margin-top: calc(0.7 * var(--wp-spacing-20));
}
.dropdown-2:hover .dropdown-2-summary::before {
  left: -2.5em;
  top: 0em;
  font-size: 1.5em;
}
.dropdown-2:hover {
  background-color: var(--trans-og-green);
  padding: 1em 2em;
  border-radius: 30px;
}

.bar {
  border: .1rem solid var(--og-red);
}

.tooltip {
  /* display: inline-block; */
  position: relative;
  /* border-bottom: 1px solid; */
  border-bottom: 1.5px dotted;

  cursor: help;
}
.tooltip::after {
  content: attr(data-tip);

  background-color: var(--trans-og-green);
  padding: 10px 20px;
  width: max-content;
  max-width: 230px;
  border-radius: 50px;

  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%);
  
  z-index: 100;

  color: var(--og-green);
  font-size: var(--wp-font-size-small);
  letter-spacing: 0.2px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  white-space: normal;

  /*box-shadow: 0 4px 15px rgba(0,0,0,0.15);*/
  opacity: 0;
  pointer-events: none;
  
  transition: opacity 0.2s ease-in-out;
}

.tooltip::before {
  content: "";
  
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--trans-og-green);

  margin-bottom: -10px;
  width: 0;
  height: 0;

  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  
  z-index: 100;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease-in-out;
}

.tooltip:hover::after, .tooltip:hover::before {
  opacity: 1;
}

/*New tooltips*/

.tooltip-body-text {
  /* display: inline-block; */

  position: relative;
  border-bottom: 1.5px dotted;
  
  cursor: help;
}
.tooltip-tip {
  background-color: var(--trans-og-green);
  padding: 10px 20px;
  width: max-content;
  max-width: 270px;
  border-radius: 50px;

  position: absolute;
  translate: -50% 0%;
  bottom: 120%;
  left: 50%;
  
  z-index: 100;

  color: var(--og-green);
  font-size: var(--wp-font-size-small);
  letter-spacing: 0.2px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  white-space: normal;

  opacity: 0;
  pointer-events: none;
  
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.tooltip-tip::before {
  content: "";
  
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--trans-og-green);

  margin-bottom: -10px;
  width: 0;
  height: 0;

  position: absolute;
  translate: -50% 0%;
  bottom: 0%;
  left: 50%;
  
  z-index: 100;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease-in-out, transform 0.2s ease;
}

.tooltip-body-text:hover .tooltip-tip, .tooltip-tip::before, .tooltip-body-text:focus .tooltip-tip {
  opacity: 1;
  transform: translateY(-5%);
}

@media screen and (max-width: 890px) {
  .whole-screen {
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: 0%;
    position: fixed;
    anchor-name: --screen-anchor;
    /* background: black !important; */
    pointer-events: none;
  }
  .tooltip-tip {
    background-color: var(--trans-og-green);
    padding: 20px 30px;
    width: max-content;
    max-width: 80vw;
    border-radius: 50px;

    position: fixed;
    position-anchor: --screen-anchor;
    position-area: top;
    margin-top: 50px;
    top: 100%;
    
    z-index: 100;

    color: var(--og-green);
    font-size: calc(1.2 * var(--wp-font-size-small));
    letter-spacing: 0.2px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    white-space: normal;

    opacity: 0;
    pointer-events: none;
    
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  .tooltip-tip::before {
    display: none;
  }
}

.flex-row-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.rectangle-section-main {
  flex: 1 0 auto;
  
  background-color: var(--trans-og-red-pinker);
  padding: 1.25em 2.375em;

  color: var(--dark-og-red);
  text-align: left;
  
  transition: scale .2s ease-out;
  position: relative;
  
  max-width: 80vw;
  text-wrap: wrap;
}
.rectangle-section-subdued:not(:empty) {
  flex: 1 0 auto;

  background-color: var(--trans-og-red);
  padding: 1.25em 2.375em;

  color: var(--reduced-og-red);
  text-align: right;

  transition: scale .2s ease-out;
}
.rectangle-section-main:hover, .rectangle-section-subdued:hover {
  scale: 1.1;
}
.rectangle-section-main:before{
  content: "★";
  top: 50%;
  left: 0%;
  translate: -100% -50%;
  position: absolute;
  /* margin-left: -5em; */
  font-size: var(--wp-font-size-xx-large);
  color: transparent;
  text-shadow: 0px 0px 5px var(--og-red-pinker);
}
.askew {
  height: 0px;
  max-width: 8em;

  transform-origin: 0% 0%;
  /* transform: rotate(-20deg) translateX(-9em) translateY(-1.65em); */
  transform: rotate(-20deg) translateX(-9em) translateY(-2.65em);

  /* margin-left: -10em; */
  /* margin-bottom: calc(3 * -1.65em); */

  font-family: 'Oooh Baby', cursive, system-ui, -apple-system, sans-serif;
  font-style: normal;
  font-weight: 600;
  /* font-size: var(--wp-font-size-medium); */
  font-size: calc(1.2 * var(--wp-font-size-medium));
  color: var(--reduced-og-purple);
}
.symbol {
  font-size: var(--wp-font-size-large);
  font-weight: 400;
  padding: .1em;
  line-height: 1.65rem;
}
@media screen and (max-width: 1148px) {
  .askew {
    max-width: 7em;
    transform: rotate(-10deg) translateX(-7.5em) translateY(-1.65em);
    font-size: var(--wp-font-size-other-medium);
  }
}
@media screen and (max-width: 1036px) {
  .askew {
    max-width: 5em;
    transform: rotate(-10deg) translateX(-5.5em) translateY(-1.65em);
    font-size: var(--wp-font-size-other-medium);
  }
}
@media screen and (max-width: 940px) {
  .askew {
    display: none;
  }
}

.askew2-wrapper {
  position: relative;
}
.askew2 {
  height: 0px;
  position: absolute;

  text-align: right;
  right: calc(100% + var(--wp-spacing-40));
  top: 0%;

  font-family: 'Oooh Baby', cursive, system-ui, -apple-system, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--wp-font-size-medium);
  color: var(--reduced-og-purple);
  line-height: 1.2em;
}

@media screen and (max-width: 940px) {
  .askew2 {
    position: static;
    line-height: 0px;
    opacity: 0%;
    transition: opacity 0.2s ease;
    transform: translateY(1em);
  }
  .askew2-wrapper:hover .askew2 {
    opacity: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .askew2 {
    right: calc(100% + var(--wp-spacing-20));
  }
}

.byTheWay-text {
  text-decoration: underline wavy 1px;
  text-decoration-color: var(--trans-og-purple);
  text-decoration-skip-ink: none;
  display: inline;
}
.byTheWay-text::after {
  text-decoration: none !important;
  display: inline-block;
  content: "➤";
  margin-left: .2em;
}
.byTheWay-right .vocab {
  font-weight: 600;
}
.byTheWay-right, .byTheWay-right.vocab {
  height: 0px;
  max-width: 8em;

  transform-origin: 100% 100%;
  transform: rotate(-3deg) translateX(51.5rem) translateY(.3rem);

  font-size: calc(var(--wp-font-size-small) * .95);
  color: var(--trans-og-purple);
  font-style: italic;
  line-height: 1.35;

  display: block;
  transition: font-weight 0.1s ease-out;

  position: absolute;
  transition: font-size 0.2s ease;
}
.byTheWay-text:hover {
  font-style: italic;  
  /* letter-spacing: 1px; */
  border-radius: 1em;
  background-color: var(--very-trans-og-purple);
}
.byTheWay-text:hover.byTheWay-text::after {
  color: var(--trans-og-purple);
}
.byTheWay-text:hover + .byTheWay-right, .byTheWay-text:hover + .byTheWay-right .vocab {
  /* font-weight: 800; */
  font-size: 1.1em;
}
.byTheWay-text:hover + .byTheWay-right .katex {
  font-size: 1.1em;
}
.byTheWay-text .katex .mord {
  /* display: inline; */
  /* border-bottom: 1px solid var(--trans-og-purple); */
  text-decoration: underline wavy 1px;
  text-decoration-color: var(--trans-og-purple);
  text-decoration-skip-ink: none;
}
@media screen and (max-width: 940px) {
  .byTheWay-right {
    display: none;
    position: static;
  }
  .byTheWay-text:hover {
    letter-spacing: inherit;
  }
  .byTheWay-text:hover + .byTheWay-right,
  .byTheWay-text:focus + .byTheWay-right {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 400;
  }
}

.start {
  font-family: "Ibarra Real Nova", serif;
  font-variant: small-caps;
  font-size: 1.2em;
  font-weight: 800;
  color: var(--og-yellow);
}
.startIt {
  font-family: "Ibarra Real Nova", serif;
  font-size: 1.2em;
  font-weight: 800;
  font-style: italic;
  color: var(--og-yellow);
}

.mint-poly {
  fill: var(--mint-trans);
  stroke:var(--mint-title);
  stroke-width: 3; 
}
.blue-poly {
  fill: var(--blue-vivid-trans);
  stroke: var(--blue-vivid);
  stroke-width: 3;
}
.red-poly {
  fill: var(--trans-og-red);
  stroke: var(--trans-reduced-og-red);
  stroke-width: 3;
}
.svg-label {
  font-weight: bold; 
  font-family: 'Instrument Serif', serif; 
  font-size: var(--wp-font-size-medium); 
  dominant-baseline: middle;
  text-anchor: middle;
}
.svg-label-mono {
  font-weight: bold;
  dominant-baseline: middle;
  font-family: "Space Mono", monospace;
  text-anchor: middle;
}
.not-bold {
  font-weight: 400 !important;
}
.ta-start {
  text-anchor: start !important;
}
.ta-mid {
  text-anchor: middle !important;
}
.ta-end {
  text-anchor: end !important;
}
.stroke {
  stroke-width: 3px;
  fill: none !important;
}
.sw-2 {
  stroke-width: 2px !important;
}
.sl-round {
  stroke-linecap: round !important;
}
.dashed-axes {
  stroke: var(--blue-title);
  stroke-dasharray: 4;
  stroke-width: 1px;
}
.centered-checkbox {
  display: block;
  margin: 15px auto;
  cursor: pointer;
  text-align: center;
}
.faux-latex {
  font-style: italic;
  font-family: 'Old Standard TT', serif;
  font-size: var(--wp-font-size-medium);
}

.diagram svg:not(.katex svg) {
  /* border: 10px solid black; */
  max-width: 100%;
  margin: 0px auto;
  padding: var(--wp-spacing-20) 0px;
  
  /* height: auto;
  overflow: hidden;
  width: 100%; */
}
.svg-not-padded {
  padding: 0px 0px !important;
}
.content .diagram {
  padding: 0px var(--wp-spacing-30);
  /* margin-left: calc(-1 * var(--wp-spacing-20));
  margin-right: calc(-1 * var(--wp-spacing-20)); */
}
.content .diagram .figcaption {
  margin-top: .5em;
  text-align: center;
  font-style: italic;
  color: var(--darker-green-text);
}
.content .diagram .caption-bottom-space:not(:empty) {
  margin-bottom: var(--wp-spacing-20);
  margin-top: 0px !important;
}
.content li {
  margin-left: 3em;
  list-style-type: disc;
}
.content li::marker {
  color: var(--og-orange);
}

.mini-heading {
  color: var(--og-purple);
  margin-right: 1.5em;
  text-transform: uppercase;
  font-family: 'Space Mono';  
  letter-spacing: 2px;
}
/* .mini-heading::after {
  content: "▸";
  margin-left: .5em;
  color: var(--og-purple);
  font-size: 1.2em;
} */
/* .mini-heading::before {
  content: "▸";
  margin-right: .5em;
  color: var(--og-purple);
  font-size: 1.2em;
} */
.mini-heading-2 {
  color: var(--light-og-red);
  text-transform: uppercase;
  font-family: 'Space Mono';  
  letter-spacing: 2px;
  font-size: 1.1em;
}
.mini-heading-2::after {
  content: "✽";
  margin: 0px .6rem;
  color: var(--light-og-red);
  font-size: 1.1em;
}
.specks header h1 {
  width: 100vw;
  font-family: 'Syne', sans-serif;
  color: var(--bright-og-orange);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.2px;
  font-size: var(--wp-font-size-large);
  padding: var(--wp-spacing-30) var(--wp-spacing-30);
  background-image: var(--gradient-panel);
  margin-bottom: var(--wp-spacing-20);
}
.specks header h1::before {
  content: "speck";
  position: absolute;
  right: 0%;
  font-family: "Ibarra Real Nova";
  font-style: italic;
  font-size: var(--wp-font-size-xxx-large);
  color: var(--og-orange);
  opacity: 20%;
  pointer-events: none;
  transition: letter-spacing 0.5s ease;
}
.specks header h1:hover::before {
  letter-spacing: 15px;
}
.specks h3 {
  font-family: 'Ibarra Real Nova', serif;
  color: var(--bright-og-red);
  background-color: var(--trans-og-red);
  font-style: italic;
  font-weight: 550;
  letter-spacing: 0.2px;
  font-size: calc(1.2 * var(--wp-font-size-medium));
  padding: 11px var(--wp-spacing-30);  
  border-radius: 300px;
}
.point {
  display: block;
  margin-left: 4em;
  position: relative;
}
.point::before {
  content: "●";
  color: var(--bright-og-red);
  position: absolute;
  left: -2.2em;
}
.point-arrow {
  display: block;
  margin-left: 5em;
  position: relative;
  color: var(--reduced-og-red);
}
.point-arrow::before {
  content: "⤷";
  /* color: var(--og-red); */
  /* color: var(--bright-og-red); */
  position: absolute;
  left: -2.2em;
}
.highlight {
  background-color: var(--trans-og-yellow);
  border-radius: 50px;
  padding: .3em .6em;
}
.wip {
  background: var(--trans-og-yellow);
  color: var(--yellow);
  font-family: "Space Mono", monospace;
  position: absolute;
  left: 0;
  width: 100vw;
  padding: 2em 5em;
}
.wip-spacer {
  margin-bottom: 200px;
}

/*-----------------------------
HEADER
-------------------------------*/

.main-header {
    background: var(--gradient-container);
    padding: var(--wp-spacing-20) var(--wp-spacing-40);   

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--wp-spacing-40);
    flex-wrap: no-wrap;

    border-bottom: 2px solid var(--og-red);
}
.main-header {
    flex: 1 0 auto;
}
.main-header-text h1, .home-header-text h1 {
    font-family: 'Instrument Serif', serif;
    color: var(--blue-title);
    font-style: italic;
    font-weight: 550;
    letter-spacing: 10px;
    font-size: var(--wp-font-size-large);

    max-width: 760px;
    padding: var(--wp-spacing-20) 0;        
}
.main-header-text h2 {
    font-family: 'Ibarra Real Nova', serif;
    color: var(--og-red);
    font-size: var(--wp-font-size-medium);
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 33px;
    
    max-width: 760px;
    overflow-wrap: break-word;
}
.main-header .nav-links {
    flex: 0 1 auto;
    padding: var(--wp-spacing-20);
    
    display: flex;
    gap: var(--wp-spacing-20);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main-header .nav-links a {
    font-family: 'Instrument Serif', serif;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--og-purple);

    transition: transform 0.2s ease-out;
}
.main-header .nav-links a:hover,
.main-header .nav-links a:focus {
    transform: scale(1.2);
    font-style: italic;
}
@media screen and (max-width: 636px) {
    .main-header {
        flex-wrap: wrap;
        gap: 10px;
    }
    .nav-links {
        flex: 0 1 auto;
    }
}
.home-header-text {
  background-image: var(--gradient-container);
  padding: var(--wp-spacing-30) var(--wp-spacing-40) var(--wp-spacing-40) var(--wp-spacing-40); 
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.home-header {
  position: relative; 
}
.home-header .nav-links {
  position: absolute;
  right: 10%;
  bottom: 0%;
  translate: 0% 60%;
  display: flex;
  gap: var(--wp-spacing-20);
  justify-content: center;
  align-items: center;
}
.home-header .nav-links a, .tab-button {
  padding: 1em var(--wp-spacing-20);
  background: var(--gradient-panel);
  border-radius: 300px;

  font-family: 'Instrument Serif', serif;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--og-purple);

  box-shadow: var(--glow-shadow), var(--glow-shadow), var(--glow-shadow);

  transition: transform 0.2s ease-out;
}
.home-header .nav-links a:hover,
.home-header .nav-links a:focus,
.tab-button:hover {
    transform: scale(1.2);
    font-style: italic;
}
@media screen and (min-width: 1024px) {
  .home-header .nav-links {
    translate: 0% 45%;
  }
  .home-header .nav-links a {
    font-size: 1.4rem;
  }
}

.underline-label {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: max(2.5px, .15625rem);
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}
 
.label {
  /* font-family: "Pixelify Sans"; */
  /* font-weight: 500; */

  /* font-family: 'Old Standard TT', serif; */
  font-family: "Instrument Serif", serif;
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: 600;
}
.green-label {
  color: var(--green-label);
  fill: var(--green-label);
  /* text-decoration-color: var(--green-label); */
}
.stroke.green-label {
  stroke: var(--green-label);
}
.red-label {
  color: var(--red-label);
  fill: var(--red-label);
  /* text-decoration-color: var(--red-label); */
}
.stroke.red-label {
  stroke: var(--red-label);
}
.l-red {
  color: var(--trans-reduced-og-red);
  fill: var(--trans-reduced-og-red);
}
.stroke.l-red {
  stroke: var(--trans-reduced-og-red);
}
.purple-label {
  color: var(--purple-label);
  fill: var(--purple-label);
  /* text-decoration-color: var(--purple-label); */
}
.stroke.purple-label {
  stroke: var(--purple-label);
}
.crimson-label {
  color: var(--bright-og-red);
  fill: var(--bright-og-red);
}
.blue-label {
  color: var(--blue-text);
  fill: var(--blue-text);
}
.stroke.blue-label {
  stroke: var(--blue-text);
}
.yellow {
  color: var(--yellow);
  fill: var(--yellow);
}
.stroke.yellow {
  stroke: var(--yellow);
}
.mint {
  color: var(--mint-title);
  fill: var(--mint-title);
}
.stroke.mint {
  stroke: var(--mint-title);
}
.blue-title {
  color: var(--blue-title);
  fill: var(--blue-title);
}
.navy {
  color: var(--navy);
  fill: var(--navy);
}
.stroke.navy {
  stroke: var(--navy);
}
.blue {
  color: var(--blue-vivid);
  fill: var(--blue-vivid);
}
.stroke.blue {
  stroke: var(--blue-vivid);
}

/*-----------------------------
FOOTER
-------------------------------*/
.main-footer {
  /* padding: 45em 0; */
  height: 90em;
}
.main-footer-text {
  text-align: center;
  font-family: 'Space Mono', monospace;
  color: var(--og-black);
}

/*-----------------------------
INTERACTIVE
-------------------------------*/

.container {
  font-family: 'Instrument Serif', 'Inter', system-ui, -apple-system, sans-serif;
  color: var(--purple-text);

  /* max-width: 650px; */
  margin: 20px auto;
  padding: 20px;

  border: 1px solid #ddd;
  border-radius: 80px;

  background: var(--gradient-container);
  box-shadow: var(--bg-shadow);
}
.offset {
  margin-top: -10px;
}
.contained-heading {
  font-family: 'Instrument Serif', serif;
  font-size: var(--wp-font-size-large);
  font-weight: 400;

  text-align: center;
  margin-bottom: -10px;
  margin-top: -.1em;
}
.contained-paragraph {
  margin: 15px 20px 15px 20px;
  font-family: 'Albert Sans', system-ui, -apple-system, sans-serif;
  font-weight: 400;
  
  color: var(--darker-purple-text);
  font-size: var(--wp-font-size-small);
}
.contained-tab {
  font-family: "Syne", system-ui, -apple-system, sans-serif;
  color: var(--trans-og-blue);
  font-weight: 1000;
  letter-spacing: 0.1em;
  font-size: var(--wp-font-size-xx-large);
  font-style: italic;
  margin-right: 1.6em;
  margin-bottom: -1.65em;
  transform: translateY(-.67em);

  /* margin: 0 1.6em -0.98em 0px; */
  /* margin-top: -.3em !important; */
  /* margin-top: calc(-.98em + var(--wp-spacing-20)); */

  white-space: nowrap;
  text-align: right;
}
.contained-title {
  font-family: "Ibarra Real Nova";
  color: var(--mint-title);
  font-weight: 400;
  font-size: var(--wp-font-size-x-large);

  margin: 0px 0px 0px 20px;

  white-space: nowrap;
}
.centered {
  text-align: center;
}
.workspace {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: center; */
  /* align-items: center; */
}
.capsule {
  /* border: 0px solid #fff; */
  box-shadow: var(--glow-shadow);
  background-image: var(--gradient-panel);
  border-radius: 50px;
}
.grid {
  /* border: 0px solid #fff; */
  box-shadow: var(--glow-shadow);
  border-radius: 50px;
  flex: 1 1 280px;
  /*max-width: 300px*/
  
  background-color: rgba(144, 249, 223, 0.06);
  background-image: 
    linear-gradient(to right, #f0f0f0 2px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 2px, transparent 1px);
  background-size: 20px 20px;
}
.inset-window {
  box-shadow: var(--glow-inset-shadow);
  border-radius: 50px;
  /* border: 0px solid #fff; */
}
.monospace-results p + *, .monospace-results .spacing-as-monospace-results + * {
  margin-top: 10px;
}
.monospace-results {
    font-family: 'Space Mono', monospace;
}
.monospace-results h2 {
    font: 'Instrument Serif', serif;
    font-weight: 400;
    line-height: 1.2;
}
.monospace-results hr {
    border: 0;
    border-top: 1px solid var(--dark-og-red);
}
@media screen and (max-width: 636px) {
  .monospace-results {
    padding: 0px var(--wp-spacing-20);
    margin-bottom: var(--wp-spacing-20);
  }
}
.monospace-results-2 {
	margin: auto;
	font-family: 'Space Mono', monospace;
  font-size: var(--wp-font-size-other-medium);

	flex: 0 1 auto;
	min-width: 180px;
	text-align: center;
}
.unHighlightable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Legacy IE/Edge */
  user-select: none;         /* Standard syntax (Chrome, Edge, Opera) */
}
.circle-point {
  cursor: grab;
  transition: r 0.1s ease, fill 0.1s ease
}
.circle-point:hover {
  fill: var(--mint-title);
  r: 13px;
}
.circle-point:active {
  cursor: grabbing;
  fill: var(--mint-title);
}
/* .underlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--gradient-scintilla);
  z-index: -1;
  background-image: var(--gradient-scintilla);
  z-index: -1;
} */
.underlay-background::before {
  background-image: var(--gradient-scintilla-underlay);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(-15%);
  left: 0;
  z-index: -1;
  content: "";
  mask-image: radial-gradient(circle at center, #0009 0%, transparent 85%);
}
.cartouche {
  background: radial-gradient(white 20%, transparent 100%);
  padding: .3em .7em;
  border-radius: 100px;
}



/*====================================
 Slider design
======================================*/

/* Reset default slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: -5px;
}

input[type="range"]:focus {
  outline: none;
}

/* STYLE TRACK */

/* Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: var(--gradient-quote);
  border-radius: 4px;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: var(--gradient-quote);
  border-radius: 4px;
}

/* STYLE THUMB */

/* Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* ONLY FOR WEBKIT: clear appearance (otherwise it will not allow me to override) */
  appearance: none;
  
  height: 20px;
  width: 20px;
  margin-top: -6px; /* ONLY FOR WEBKIT: Center thumb vertically over 8px track line, using formula (track height-thumb height)/2 */
  
  background: var(--blue-title);
  border: 2px solid #fff;
  border-radius: 50px;
  box-shadow: 
    var(--mini-shadow),
    var(--glow-shadow);

  transition: transform 0.1s ease, background-color 0.1s ease;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;

  background: var(--blue-title);
  border: 2px solid #fff;
  border-radius: 50px;
  box-shadow: 
    var(--mini-shadow),
    var(--glow-shadow);

  transition: transform 0.1s ease, background-color 0.1s ease;
}

/* HOVER ANIMATION */

/* Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--mint-title);
  transform: scale(1.15);
}

/* Firefox */
input[type="range"]::-moz-range-thumb:hover {
  background: var(--mint-title);
  transform: scale(1.15);
}

/*====================================
Katex formatting
======================================*/

.katex {
  /* font-size: 0.95em !important; */
  /* font-size: calc(1.10 * var(--wp-font-size-small)); */
  font-size: 1.1em;
  text-rendering: optimizeLegibility;
}
.med-katex .katex {
  font-size: 1.5em;
}
.katex-display > .katex {
  font-size: calc(1.20 * var(--wp-font-size-small)) !important;
}
.katex-display > .katex .katex-html {
  font-size: calc(1.20 * var(--wp-font-size-small)); 
}

/* .katex-html {
  white-space: nowrap;
} */